
@import url("header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");
:root {
    --cor-de-fundo: #eef0f4;
    --branco: #f30bc1;
    --laranja: #000000;
    --rosa:var(--rosa)#7a0564
    --fonte-principal: "Poppins";
    --azul: #002f52;
}
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
